<div class="container">
  <h2>Users</h2>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>Contact Management</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
       
        <th>
          <button 
            class="btn btn-primary mx-1" 
            title="Add New User">
            New
          </button>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngForof="let user of users; let i = index">
        <td>{{ i + 1 }}.</td>
        <td>{{ user.fname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td>  
          <div>
            <button 
              class="btn btn-primary mx-1" 
              title="Edit User"
              >
              Edit
            </button>

            <button 
              class="btn btn-danger mx-1" 
              title="Delete User">
             Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Add New User
    </h4>

    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm" (ngSubmit)="addUser()">
      <input 
        type="text"
        title="Full Name"
        placeholder="First Name"
        class="form-control my-2"
                formControlName="fname"
        >
        <input 
        type="text"
        title="Last Name"
        placeholder="Company"
        class="form-control my-2"
                formControlName="lname"
        >
      <input 
        type="text"
        title="Email"
        placeholder="Email"
        class="form-control my-2"
                formControlName="email"
        >
  

      <button
        
        class="btn btn-primary"
        type="submit"
                [disabled]="myForm.invalid"
      >
        Add New User
      </button>
    </form>
  </div>
</ng-template>
